* {
  margin: 0;
  box-sizing: border-box;
}

#main_principal {
  background-color: rgb(67, 7, 82);
  color: white;
  height: 100%;
  display: flex;
  text-align: center;
}

#historia_main {
  background-image: url(../images/premier_fotos/fondopl.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 30px;
}

#galeria_main {
  background-color: rgb(67, 7, 82);
  color: white;
  width: 100;
  margin: 0%;
  padding: 0%;
}

#texto_historia {
  text-align: center;
  font-family: italic;
  color: white;
  margin: 0%;
  height: 700px;
  font-size: 2.2vh;
}
@media screen and (max-width: 800px) {
  #texto_historia {
    font-size: 1.8vh;
  }
}
@media screen and (max-width: 600px) {
  #texto_historia {
    font-size: 1.3vh;
  }
}

#equipos_main {
  background-color: rgb(67, 7, 82);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media screen and (max-width: 800px) {
  #equipos_main {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 400px) {
  #equipos_main {
    font-size: 0.3em;
  }
}

#grad {
  background-image: linear-gradient(to left, rgb(30, 126, 215), rgb(84, 22, 99));
  width: 500px;
}

#fondo {
  width: 100%;
  height: 1200px;
}

.banner {
  background-color: black;
  color: white;
  margin: 0%;
  width: 100%;
  padding: 10px;
  justify-content: center;
  display: grid;
  font-size: 500%;
  height: 100%;
  font-size: 100px;
  font-family: "Caveat", cursive;
}
@media screen and (max-width: 480px) {
  .banner {
    font-size: 3vh;
  }
}
@media screen and (max-width: 400px) {
  .banner {
    font-size: 2vh;
  }
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 250px, 1fr);
  grid-gap: 10px;
}

.imagen {
  border: 4px solid #b8b3b3;
  padding: 10px;
}

.imagen img {
  width: 30%;
  height: auto;
}

.container_table {
  width: 100%;
  background-color: rgb(30, 126, 215);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
}

.table_header .table_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header {
  font-weight: bold;
  font-size: 1.5em;
}

.table_item {
  padding: 10px;
  font-size: 1.2em;
}

.table_title {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(67, 7, 82);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.9em;
}

.video_container {
  display: flex;
  justify-content: center;
  padding: 10%;
}
@media screen and (max-width: 480px) {
  .video_container {
    height: 400px;
  }
}

body {
  height: 100vh;
}
@media screen and (max-width: 940px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 100%;
  }
}
main h1 {
  background-color: black;
  color: white;
  margin: 0%;
  width: 100%;
  padding: 10px;
  justify-content: center;
  display: grid;
  font-size: 500%;
  height: 100%;
  font-family: "Caveat", cursive;
}
@media screen and (max-width: 480px) {
  main h1 {
    font-size: 3vh;
  }
}
@media screen and (max-width: 400px) {
  main h1 {
    font-size: 2vh;
  }
}
@media screen and (max-width: 800px) {
  main div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
main div aside {
  background-color: rgb(30, 126, 215);
  text-align: center;
  font-size: 15px;
  padding: 15px;
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  main div aside {
    align-items: end;
    height: 500px;
    width: 200px;
    padding: 5%;
  }
}
@media screen and (max-width: 800px) {
  main div aside img {
    align-items: end;
    height: 150px;
    width: 200px;
  }
}
main div section {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}
main aside p {
  font-size: 20px;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  main aside p {
    font-size: 15px;
  }
}
main img {
  padding: 1%;
}
@media screen and (max-width: 600px) {
  main img {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  main img {
    width: 280px;
    height: 200px;
  }
}
main figure {
  text-align: center;
}

footer {
  height: 100px;
  background-color: black;
}
@media screen and (max-width: 800px) {
  footer {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  footer {
    display: block;
    width: 100%;
  }
}
footer div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100%;
  align-items: center;
}
footer a {
  color: white;
  text-decoration: none;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
