$color1: white;
$color2: rgb(112, 8, 138);
$color3: rgb(30, 126, 215);
$color4: black;
*{
    margin: 0;
    box-sizing: border-box;
}


#main_principal {
    background-color: $color2;
    color: white;
    height: 100%;
    display: flex;
}

#historia_main{
    background-color: $color2;
    text-align: center;

}
#galeria_main{
    background-color: $color2;
    color: white;
    width: 100;
    margin: 0%;
    padding: 0%;
}
#texto_historia {
    text-align: center;
    font-family: italic;
    color: white;
    margin: 0%;
    height: 700px;
    @media screen and (max-width: 800px){
        font-size: 1.2vh;
    }
    @media screen and (max-width: 1300px){
        font-size: 1.3vh;
        height: 800px;
    }
}

#equipos_main {
    background-color:$color2;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    @media screen and (max-width: 800px){
        font-size: 0.5em;
    }
    @media screen and (max-width: 400px) {
        font-size: 0.3em;
    }
}
#grad {
    background-image: linear-gradient(to left,rgb(30, 126, 215), rgb(107, 215, 107));
}

#fondo{
    width: 100%;
}

.banner {
    background-color: $color4;
    color: white;
    margin: 0%;
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: grid;
    font-size: 500%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    @media  screen and (max-width:480px){
        font-size: 3vh;
    }
    @media screen and (max-width: 400px) {
        font-size: 2vh;
    }
}


.texto_galeria {
    font-size: large;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
    grid-gap: 10px;
}

.imagen {
    border: 4px solid #b8b3b3;
    padding: 10px;
}
.imagen img {
    width: 30%;
    height: auto;
}

.container_table {
    width: 100%;
    background-color:$color3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
}

.table_header .table_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table_header{
    font-weight: bold;
    font-size: 1.5em;

}
.table_item{
    padding: 10px;
    font-size: 1.2em;

}

.table_title {
    grid-column-start: 1;
    grid-column-end: 5;

    background-color: $color2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;

}



body{
    height: 100vh;
    @media screen and (max-width: 940px){
        width: 100%;
    }
}
main{
    @media screen and (max-width: 400px){
        width: 100%;
    }
    h1{
        background-color:$color4;
    color: $color1;
    margin: 0%;
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: grid;
    font-size: 500%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    @media  screen and (max-width:480px){
        font-size: 3vh;
    }
    @media screen and (max-width: 400px){
        font-size: 2vh;
    }
    }
    div{
        @media screen and (max-width: 800px){
            display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
    } 
    div aside{
        background-color: $color3;
    text-align: center;
    font-size: 125%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    border-radius: 10px;
    }
    div section{
        display: flex;
    flex-direction: column;
    padding: 20px;
    @media screen and (max-width: 800px){
        align-items: center;
    }
    }
    img{
        padding: 1%;
        @media screen and (max-width: 400px){
            width: 200px;
            height: 300px;
        }
    }
    figure{
        text-align: center;
    }
    iframe{
        @media  screen and (max-width:480px) {
            width: 70%;
        }
    }
}

footer {
    height: 100px;
    background-color: $color4;
    @media screen and (max-width: 800px){
        display: block;
        width: 100%;
    }
    @media screen and (max-width: 400px){
        display: block;
        width: 100%;
    }
    div{
        display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    align-items: center;
    }
    a{
        color:$color1;
        text-decoration: none;
         list-style: none;
    }
}


